<% for (movement of movements) { %>
    <div class="movement-item">
        <a 
        hx-get="/movements/<%= movement._id %>"
        hx-trigger="click"
        hx-target="div.notepad-content"
        hx-swap="innerHTML">
        <%= movement.type %> - <%= movement.sets.length %> Sets 
        </a>
        <%- include('../partials/notepadButton', {request: "POST", queryUrl: `/movements/${movement._id}?_method=DELETE`, label: "Delete", className: ''}) %>
    </div>
<% } %>
<%- include('../partials/notepadButton', {request: "GET", queryUrl: `/movements/new?liftId=${liftId}`, label: "Add Movement", className: ''}) %>