<% for (movement of movements) { %>
    <div class="movement-item">
        <a 
        hx-get="/movements/<%= movement._id %>"
        hx-trigger="click"
        hx-target="div.notepad-content"
        hx-swap="innerHTML">
        <%= movement.type %> - <%= movement.sets.length %> Sets 
        </a>
        <button 
            type="button"
            hx-post="/movements/<%= movement._id %>?_method=DELETE&liftId=<%= liftId %>"
            hx-trigger="click"
            hx-target="div.notepad-content"
            hx-swap="innerHTML">
            Delete
        </button>
    </div>
<% } %>
<button type="button"
        hx-get="/movements/<%= liftId %>/new"
        hx-trigger="click"
        hx-target="div.notepad-content"
        hx-swap="innerHTML"
>Add Movement
</button>