<h2>
    <%= movement.type %> 
</h2>
<% for (set of movement.sets) { %>
    <p>
        <%= set.weight %>lbs x <%= set.reps %>
    </p>
<% } %>
<%- include('../partials/notepadButton', {request: 'GET', queryUrl: `/movements?liftId=${movement.lift_id}`, label: "Back", className: ''}) %>
<%- include('../partials/notepadButton', {request: 'GET', queryUrl: `/movements/${movement._id}/edit`, label: "Edit", className: ''}) %>
<%- include('../partials/notepadButton', {request: "POST", queryUrl: `/movements/${movement._id}?_method=DELETE`, label: "Delete", className: ''}) %>